@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgba(54, 52, 52, 0.26);
    width: 200px;
    height: 164vh;
    font-family:'Fira Sons', sans-serif;
}
.sidebar nav{
    padding: 20px;
}
.sidebar nav li{
    list-style: none;
    font-size: 15px;
    padding: 20px;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;

}
.main{
   /* background-color: green;*/
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /*background-color: white;*/
    height: 48vh;
    width: 80vw;
    margin: 140px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 30px;
}
.name{
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}
.about{
    font-size: 25px;
}
.moreabout{
    margin-top: 10px;
    font-size: 14px;
}
.buttons{
    margin-top: 20px;
    font-size: 18px;
}
.buttons button{
    font-size: 10px;
    padding: 7px;
    border-radius: 40px;
    color: white;
    background-color: #7d7dc4;
    margin: 0 9px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: blue;
}
.devpic img{
    width: 280px;
    height: 48vh;
    cursor: pointer;
}
.contactform{
    padding: 0 30px;
    padding-top: 150px;
    font-family:'Fira Sons', sans-serif;
}
.contactform h1{
    font-family:'Fira Sons', sans-serif;
    text-align: center;
}
.contactform div{
    padding: 4px 0;
}